model/__pycache__/__init__.cpython-38.pyc
model/__pycache__/discriminator.cpython-38.pyc
model/__pycache__/gan_model.cpython-38.pyc
model/__pycache__/generator.cpython-38.pyc
model/__pycache__/mlp.cpython-38.pyc
trained_models/_stats_models_SUD.pdf
trained_models/agosto2021_giugno2021_v2/_stats_models_SUD.pdf
utils/__pycache__/__init__.cpython-38.pyc
utils/__pycache__/constants.cpython-38.pyc
utils/__pycache__/csv_utils.cpython-38.pyc
utils/__pycache__/log_utils.cpython-38.pyc
wandb/debug-cli.nicolafraccarolo.log
wandb/debug-internal.log
wandb/debug.log
wandb/latest-run
wandb/offline-run-20231227_004123-pvltjrd1/run-pvltjrd1.wandb
wandb/offline-run-20231227_004123-pvltjrd1/files/conda-environment.yaml
wandb/offline-run-20231227_004123-pvltjrd1/files/requirements.txt
wandb/offline-run-20231227_004123-pvltjrd1/files/wandb-metadata.json
wandb/offline-run-20231227_004123-pvltjrd1/logs/debug-internal.log
wandb/offline-run-20231227_004123-pvltjrd1/logs/debug.log
wandb/offline-run-20231227_114135-wl4dney9/run-wl4dney9.wandb
wandb/offline-run-20231227_114135-wl4dney9/files/conda-environment.yaml
wandb/offline-run-20231227_114135-wl4dney9/files/requirements.txt
wandb/offline-run-20231227_114135-wl4dney9/files/wandb-metadata.json
wandb/offline-run-20231227_114135-wl4dney9/files/wandb-summary.json
wandb/offline-run-20231227_114135-wl4dney9/logs/debug-internal.log
wandb/offline-run-20231227_114135-wl4dney9/logs/debug.log
wandb/offline-run-20231227_120951-68avia7f/run-68avia7f.wandb
wandb/offline-run-20231227_120951-68avia7f/files/conda-environment.yaml
wandb/offline-run-20231227_120951-68avia7f/files/requirements.txt
wandb/offline-run-20231227_120951-68avia7f/files/wandb-metadata.json
wandb/offline-run-20231227_120951-68avia7f/files/wandb-summary.json
wandb/offline-run-20231227_120951-68avia7f/logs/debug-internal.log
wandb/offline-run-20231227_120951-68avia7f/logs/debug.log
plot/__pycache__/plot_prediction.cpython-38.pyc
utils/__pycache__/math_utils.cpython-38.pyc
wandb/offline-run-20231228_230101-26t6qfc0/run-26t6qfc0.wandb
wandb/offline-run-20231228_230101-26t6qfc0/files/conda-environment.yaml
wandb/offline-run-20231228_230101-26t6qfc0/files/requirements.txt
wandb/offline-run-20231228_230101-26t6qfc0/files/wandb-metadata.json
wandb/offline-run-20231228_230101-26t6qfc0/logs/debug-internal.log
wandb/offline-run-20231228_230101-26t6qfc0/logs/debug.log
wandb/offline-run-20231228_230532-6limwk0t/run-6limwk0t.wandb
wandb/offline-run-20231228_230532-6limwk0t/files/conda-environment.yaml
wandb/offline-run-20231228_230532-6limwk0t/files/requirements.txt
wandb/offline-run-20231228_230532-6limwk0t/files/wandb-metadata.json
wandb/offline-run-20231228_230532-6limwk0t/logs/debug-internal.log
wandb/offline-run-20231228_230532-6limwk0t/logs/debug.log
wandb/offline-run-20231228_230918-uurl9e6r/run-uurl9e6r.wandb
wandb/offline-run-20231228_230918-uurl9e6r/files/conda-environment.yaml
wandb/offline-run-20231228_230918-uurl9e6r/files/requirements.txt
wandb/offline-run-20231228_230918-uurl9e6r/files/wandb-metadata.json
wandb/offline-run-20231228_230918-uurl9e6r/logs/debug-internal.log
wandb/offline-run-20231228_230918-uurl9e6r/logs/debug.log
wandb/offline-run-20231228_232450-ngar0oil/run-ngar0oil.wandb
wandb/offline-run-20231228_232450-ngar0oil/files/conda-environment.yaml
wandb/offline-run-20231228_232450-ngar0oil/files/requirements.txt
wandb/offline-run-20231228_232450-ngar0oil/files/wandb-metadata.json
wandb/offline-run-20231228_232450-ngar0oil/logs/debug-internal.log
wandb/offline-run-20231228_232450-ngar0oil/logs/debug.log
wandb/offline-run-20231228_232649-wnznbfx2/run-wnznbfx2.wandb
wandb/offline-run-20231228_232649-wnznbfx2/files/conda-environment.yaml
wandb/offline-run-20231228_232649-wnznbfx2/files/requirements.txt
wandb/offline-run-20231228_232649-wnznbfx2/files/wandb-metadata.json
wandb/offline-run-20231228_232649-wnznbfx2/logs/debug-internal.log
wandb/offline-run-20231228_232649-wnznbfx2/logs/debug.log
wandb/offline-run-20231228_232749-9lhr1x94/run-9lhr1x94.wandb
wandb/offline-run-20231228_232749-9lhr1x94/files/conda-environment.yaml
wandb/offline-run-20231228_232749-9lhr1x94/files/requirements.txt
wandb/offline-run-20231228_232749-9lhr1x94/files/wandb-metadata.json
wandb/offline-run-20231228_232749-9lhr1x94/logs/debug-internal.log
wandb/offline-run-20231228_232749-9lhr1x94/logs/debug.log
wandb/offline-run-20231228_232840-65p089mb/run-65p089mb.wandb
wandb/offline-run-20231228_232840-65p089mb/files/conda-environment.yaml
wandb/offline-run-20231228_232840-65p089mb/files/requirements.txt
wandb/offline-run-20231228_232840-65p089mb/files/wandb-metadata.json
wandb/offline-run-20231228_232840-65p089mb/logs/debug-internal.log
wandb/offline-run-20231228_232840-65p089mb/logs/debug.log
wandb/offline-run-20231228_233027-bi7h7cbd/run-bi7h7cbd.wandb
wandb/offline-run-20231228_233027-bi7h7cbd/files/conda-environment.yaml
wandb/offline-run-20231228_233027-bi7h7cbd/files/requirements.txt
wandb/offline-run-20231228_233027-bi7h7cbd/files/wandb-metadata.json
wandb/offline-run-20231228_233027-bi7h7cbd/logs/debug-internal.log
wandb/offline-run-20231228_233027-bi7h7cbd/logs/debug.log
wandb/offline-run-20231228_234023-kr3h5up7/run-kr3h5up7.wandb
wandb/offline-run-20231228_234023-kr3h5up7/files/conda-environment.yaml
wandb/offline-run-20231228_234023-kr3h5up7/files/requirements.txt
wandb/offline-run-20231228_234023-kr3h5up7/files/wandb-metadata.json
wandb/offline-run-20231228_234023-kr3h5up7/logs/debug-internal.log
wandb/offline-run-20231228_234023-kr3h5up7/logs/debug.log
wandb/offline-run-20231229_084202-ec52em2f/run-ec52em2f.wandb
wandb/offline-run-20231229_084202-ec52em2f/files/conda-environment.yaml
wandb/offline-run-20231229_084202-ec52em2f/files/requirements.txt
wandb/offline-run-20231229_084202-ec52em2f/files/wandb-metadata.json
wandb/offline-run-20231229_084202-ec52em2f/logs/debug-internal.log
wandb/offline-run-20231229_084202-ec52em2f/logs/debug.log
wandb/offline-run-20231229_084301-vyq970j8/run-vyq970j8.wandb
wandb/offline-run-20231229_084301-vyq970j8/files/conda-environment.yaml
wandb/offline-run-20231229_084301-vyq970j8/files/requirements.txt
wandb/offline-run-20231229_084301-vyq970j8/files/wandb-metadata.json
wandb/offline-run-20231229_084301-vyq970j8/logs/debug-internal.log
wandb/offline-run-20231229_084301-vyq970j8/logs/debug.log
wandb/offline-run-20231229_084416-ctre3xbw/run-ctre3xbw.wandb
wandb/offline-run-20231229_084416-ctre3xbw/files/conda-environment.yaml
wandb/offline-run-20231229_084416-ctre3xbw/files/requirements.txt
wandb/offline-run-20231229_084416-ctre3xbw/files/wandb-metadata.json
wandb/offline-run-20231229_084416-ctre3xbw/logs/debug-internal.log
wandb/offline-run-20231229_084416-ctre3xbw/logs/debug.log
