model/__pycache__/__init__.cpython-38.pyc
model/__pycache__/discriminator.cpython-38.pyc
model/__pycache__/gan_model.cpython-38.pyc
model/__pycache__/generator.cpython-38.pyc
model/__pycache__/mlp.cpython-38.pyc
trained_models/_stats_models_SUD.pdf
trained_models/agosto2021_giugno2021_v2/_stats_models_SUD.pdf
utils/__pycache__/__init__.cpython-38.pyc
utils/__pycache__/constants.cpython-38.pyc
utils/__pycache__/csv_utils.cpython-38.pyc
utils/__pycache__/log_utils.cpython-38.pyc
wandb/debug-cli.nicolafraccarolo.log
wandb/debug-internal.log
wandb/debug.log
wandb/latest-run
wandb/offline-run-20231227_004123-pvltjrd1/run-pvltjrd1.wandb
wandb/offline-run-20231227_004123-pvltjrd1/files/conda-environment.yaml
wandb/offline-run-20231227_004123-pvltjrd1/files/requirements.txt
wandb/offline-run-20231227_004123-pvltjrd1/files/wandb-metadata.json
wandb/offline-run-20231227_004123-pvltjrd1/logs/debug-internal.log
wandb/offline-run-20231227_004123-pvltjrd1/logs/debug.log
wandb/offline-run-20231227_114135-wl4dney9/run-wl4dney9.wandb
wandb/offline-run-20231227_114135-wl4dney9/files/conda-environment.yaml
wandb/offline-run-20231227_114135-wl4dney9/files/requirements.txt
wandb/offline-run-20231227_114135-wl4dney9/files/wandb-metadata.json
wandb/offline-run-20231227_114135-wl4dney9/files/wandb-summary.json
wandb/offline-run-20231227_114135-wl4dney9/logs/debug-internal.log
wandb/offline-run-20231227_114135-wl4dney9/logs/debug.log
wandb/offline-run-20231227_120951-68avia7f/run-68avia7f.wandb
wandb/offline-run-20231227_120951-68avia7f/files/conda-environment.yaml
wandb/offline-run-20231227_120951-68avia7f/files/requirements.txt
wandb/offline-run-20231227_120951-68avia7f/files/wandb-metadata.json
wandb/offline-run-20231227_120951-68avia7f/files/wandb-summary.json
wandb/offline-run-20231227_120951-68avia7f/logs/debug-internal.log
wandb/offline-run-20231227_120951-68avia7f/logs/debug.log
